body {
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style: none;
}
ul, ol, li, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

* { -moz-user-select: moz-none; -webkit-user-select: none; }
a {
	cursor: none;
	text-decoration: none;
}