<div id="ticket-box">
	<div id="instructions">
		<div>Instructions</div>
		<img src="/graphics/instructions.png" />
	</div>
	<div id="topBar">
		<div class="title"></div>
	</div>
	
	<div id="breadcrumbs"></div>
	
	<div id="navigation">
	</div>
</div>
<div id="loading-notif"></div>
<div id="player">
	<div id="license"></div>
	<div id="playback-notif">
		<div class="icon"></div>
	</div>
	<div id="progress-bar">
		<div class="bar">
			<div class="buffer"></div>
			<div class="position"></div>
		</div>
	</div>
	<div id="audio-screen">
		<img src="" class="artist-thumb" />
	</div>
	<video id="senses-video" src="" width="100%" height="100%" preload="auto"></video>
	<audio id="senses-audio" src="" preload="auto"></audio>
</div>