<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<media_types>
		
		<media>
			<name>music</name>
			<audio>true</audio>
			<video>false</video>
			<library_artist_priority>true</library_artist_priority>
			<groups>true</groups>
			<view_type>list</view_type>
			<groups_view_type>thumbs_square</groups_view_type>
			<artists_view_type>thumbs_square</artists_view_type>
		</media>
		<media>
			<name>shows</name>
			<audio>true</audio>
			<video>true</video>
			<library_artist_priority>true</library_artist_priority>
			<groups>true</groups>
			<view_type>list</view_type>
			<groups_view_type>thumbs_poster</groups_view_type>
			<artists_view_type>thumbs_poster</artists_view_type>
		</media>
		<media>
			<name>movies</name>
			<audio>true</audio>
			<video>true</video>
			<library_artist_priority>false</library_artist_priority>
			<groups>false</groups>
			<view_type>thumbs_poster</view_type>
		</media>
		
	</media_types>
</config>

<!--

Media Types:
	Media:
		audio						=> Wether the media type contains audio or not.
		video						=> Wether the media type contains video or not.
		library_artist_priority		=> If true, on Library view, the media type will be grouped by artists.
		groups					=> If true, that media type will use groups (like Music Albums or Shows Seasons)
		view_type					=> Visualization used for this kind of media.
-->