<h1>Documentation</h1>

<nav>
	<a href="#the-navigation">The navigation</a>
</nav>

<section>
	<a name="the-navigation"></a>
	<h2>The navigation</h2>
	
	<p>The navigation contains "pages" which represent different levels of navigations. All pages are stored as separate &lt;div&gt; tags in the <strong>#navigation</strong> tag.</p>
	
	<p>The navigation object switches focus from one element to another, also relocating the cursor. The focus changes when:</p>
	<ul>
		<li>The user executes <strong>action</strong> on a folder, having to switch the focus from the current listing to the new, child listing.</li>
		<li>The user executes <strong>back</strong>, going one step back in the navigation.</li>
	</ul>
	
	<p>When the focus changes...</p>
	<ul>
		<li><strong>... by entering to a new level:</strong> The previous item gets it's 'focus' class removed. All new level listings come with the 'focus' class already set on them.</li>
		<li><strong>... by going back to a previous level:</strong> The current item is removed from the DOM, and the last children of the navigation gets it's 'focus' class back on.</li>
	</ul>
</section>