<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<document>
		<version>DOCTYPE_HTML_5</version>
		<lang>en</lang>
		<xmlns>http://www.w3.org/1999/xhtml</xmlns>
	</document>

	<site>
		<charset>utf-8</charset>
		<contentType>text/html</contentType>
		<title>Buglets - HTML 5 game</title>
		<lang>en</lang>
	</site>

	<bakers>
		<std>
			<rewriteCond>#[:]#</rewriteCond>
		</std>
		<ajax>
			<rewriteCond>#[:]#</rewriteCond>
		</ajax>
	</bakers>

	<saveHunterLogs>1</saveHunterLogs>
</config>